{% extends 'base.html'%}
{% block conteudo %}
<h2>Atendimentos</h2>
<div class="container" style="background-color: white;position: fixed;z-index: 1000;">
    <div class="row" style="margin-left: -0.5rem;">
        <div class="col-10">
            <div class="card" style="margin-top: 3rem !important; border:none;">
                <input type="text" id="buscaNome" class="form-control" placeholder="Digite o nome do cliente..." />
            </div>
        </div>
        <div class="col-2">
            <div style="margin-top: 3rem !important;">
                <div class="btn-group me-2">
                    <a href="{{ url_for('cria_agendamento') }}" class="nav-link link-body-emphasis">
                        <img src="../static/img/calendario.png" width="38rem" height="38rem" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12" style="z-index: 999; margin-top: 7rem;" id="listaAgendamentos">
    {% for agendamento in agendamentos %}
    <div class="card m-3 p-3" style="border-radius: 15px; box-shadow: 0 2px 8px rgba(0,0,0,0.1); background-color: rgb(250, 250, 250);">
        <form action="/agendamento/{{ agendamento.id }}" method="GET" style="display: inline; width: 100%;">
            <button type="submit" class="btn w-100 text-start agendamento-btn" 
                style="color: #666666; font-weight: normal;">
                <div><strong style="color: #222222;">{{ agendamento.cliente.nome }}</strong> </div>
                <div>ID Agendamento: {{ agendamento.id }}</div>
                <div>Data Início: {{ agendamento.data_inicio.strftime('%d/%m/%Y %H:%M') }}</div>
                <div>Data Prevista de Término: {{ agendamento.data_termino.strftime('%d/%m/%Y %H:%M') }}</div>
                <div>Tipo de Atendimento: {{ agendamento.tipo_atendimento }} minutos</div>
            </button>
        </form>
    </div>
    {% endfor %}
</div>

<script src="../static/js/agendamentos.js"></script>
{% endblock conteudo %}