{% extends 'base.html'%}
{% block conteudo %}
<h2>Atendimentos</h2>
<div class="container" style="background-color: white;position: fixed;z-index: 1000;">
    <div class="row " style="margin-left: -0.5rem;">
        <div class="col-10">
            <div class="card" style="    margin-top: 3rem !important;  border:none;">
                <!--
                <select name="nome" id="nome" class="form-control">
                    {% for cliente in clientelist%}
                    <option id="buscaCliente" value="{{cliente.id}}">{{cliente.nome}}</option>
                    {% endfor %}
                </select>
                -->
                <input type="text" id="buscaNome" class="form-control" placeholder="Digite o nome do cliente..." />
            </div>
        </div>
        <div class="col-2">
            <div class="" style="   margin-top: 3rem !important;  ">
                <div class="btn-group me-2">
                    <a href="{{url_for('cria_cliente')}}" class="nav-link link-body-emphasis">
                        <img src="../static/img/add_cliente.png" widh="38rem" height="38rem" />


                    </a>
                </div>
            </div>
        </div>


    </div>
</div>

<div id="listaClientes" class="col-sm-12" style="z-index: 999; margin-top: 7rem;">
    {% for cliente in clientes %}
    <div class="card m-3" style="border-radius: 5px;">
        <form action="/cliente/{{cliente.id}}" method="GET" style="display: inline;">
            <button type="submit" class="btn btn-outline-primary" style="width: 100%;">
                {{cliente.nome}}
            </button>
        </form>
    </div>
    {% endfor %}
</div>


</div>

<script src="../static/js/clientes.js"></script>


{% endblock conteudo %}